.head-block {
  background-color: white;

  .head-content {
    padding: 2% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-block {
      display: flex;
      align-items: center;

      .title {
        font-weight: 700;
        font-size: 24px;
        color: #000000;
      }
    }

    .time-spent-block {
      display: flex;
      font-size: 16px;

      .sub-title {
        font-weight: 400;
        color: #000000BF;
        text-align: right;
      }

      .time {
        font-weight: 500;
        color: black;
      }
    }
  }

  @media (max-width: 992px) {
    .head-content {
      padding: 2% 5%;
    }
  }

  @media (max-width: 576px) {
    .title {
      font-size: 15px !important;
    }

    .time-spent-block {
      font-size: 10px !important;
    }
  }
}
